#titulo{padding-left: inherit;
background-color: darkcyan;}

#boby{background-color:black;}

#art{
  
  text-align:center;
  item-align:center;
  border:2px 50px;
  background:grey;
  color:white;
  text-decoration-color:white;
  border-color:green;
}
.vid{
  position:relative;
  width:50%;
  heigth:100%;
  margin:auto;
  font-size:30%;
  
  
}
