#titulo{padding-left: inherit;
background-color: darkcyan;}

#boby{background-color:black;}

#art{
  
  text-align:center;
  item-align:center;
  border:2px 50px;
  background:;
  color:white;
  text-decoration-color:white;
  border-color:green;
}
